/* Place CSS styles here */
body {
    .rubik-mono one-regular {
        font-family: "Rubik Mono One", monospace;
        font-weight: 600;
        font-style: normal;
      }
      
    background-color: #543e3e;
    color: #a9eead;
}
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}